.select-language {
  @apply w-full flex justify-end text-white font-semibold text-xl
}

.select-language img {
  @apply ml-2
}

.dropbtn {
  @apply text-white p-2 text-base border-none mr-5
}

.dropdown {
  @apply relative inline-block
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
