<div class="select-language">
  <div class="dropdown">
    <div class="dropbtn">
      <button class="flex items-center">{{'CHOOSE_LANGUAGE' | translate}} <img src="../../../assets/img/dropdown_b.svg" class="w-3"></button>
    </div>
    <div class="dropdown-content">
      <a class="flex items-center text-sm text-black font-dmsans p-3 cursor-pointer" (click)="changeLanguage('en')"> <img src="../../../assets/img/ang_flag.svg" alt="English" class="w-7 mr-2"> {{'ENGLISH' | translate}} </a>
      <a class="flex items-center text-sm text-black font-dmsans px-3 pb-3 cursor-pointer" (click)="changeLanguage('fr')"> <img src="../../../assets/img/fr_flag.svg" alt="French" class="w-7 mr-2"> {{'FRENCH' | translate}}</a>
    </div>
  </div>
</div>
