<div class="background-inscription main">
  <app-selectionner-langue class="self-end"></app-selectionner-langue>
  <img src="../../../assets/img/logo-inhub.svg" alt="" class="self-start">
  <div class="form-inscription div-form">
    <p class="titre-inscription">Créer un compte</p>
    <form class="form">
      <div class="div-input-inscription">
        <label for="">Prénom(s)</label>
        <input type="text" class="input-inscription" placeholder="Mame Diarra">
      </div>
      <div class="div-input-inscription">
        <label for="">Nom</label>
        <input type="text" class="input-inscription" placeholder="Bousso">
      </div>
      <div class="div-input-inscription">
        <label for="">Numéro de téléphone</label>
        <input type="text" class="input-inscription" placeholder="+221 78 275 84 96">
      </div>
      <div class="div-input-inscription">
        <label for="">Entreprise</label>
        <select name="" id="" class="input-inscription">
          <option value="Nicomatic">Nicomatic</option>
          <option value="">Genise</option>
          <option value="">Inhub</option>
        </select>
      </div>
      <div class="div-input-inscription">
        <label for="">Email</label>
        <input type="text" class="input-inscription" placeholder="diarra.bousso@gmail.sn">
      </div>
      <div class="div-input-inscription">
        <label for="">Mot de passe</label>
        <div class="div-password">
          <input
            class="input-inscription"
            type="{{ isPasswordVisible ? 'text' : 'password' }}"
            placeholder="Entrez votre mot de passe"
          />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i class="{{ isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
          </span>
        </div>
      </div>
      <button type="submit" class="submit-inscription">Créer un compte</button>
    </form>
    <div class="footer-inscription">
      Vous avez déjà un compte ?
      <button>Se connecter</button>
    </div>
  </div>
</div>
