<div class="div-center w-full h-full px-4 pb-7 pt-2 md:py-4 md:px-6 flex flex-col bg-white max-w-2xl">
    <div class="w-full p-1 pt-3 border-b-2 border-[#E5E5E5] mb-4">
		<h4 class="text-[#408A7E] text-xl">{{'ENTERPRISE' | translate}} </h4>
	</div>

    <div class="lg:flex lg:justify-center">
        <div class="w-full lg:pl-4 lg:mt-4 mr-4 flex flex-col items-center lg:items-end">
            <div class="flex lg:flex-row flex-col items-center lg:items-start mb-4">
                <div class="flex flex-col justify-between leading-normal">
                    <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">{{enterprise.name}}</h5>
                    <p class="mb-3 font-normal text-gray-700">{{enterprise.description}}</p>
                    <p class="mb-3 font-normal text-gray-700 mt-5"> <span class="mr-2"><i class="fa-solid fa-location-dot"></i></span> {{enterprise.address}}</p>
                    <p class="mb-3 font-normal text-[#408A7E]">
                        <span class="mr-2"><i class="fa-solid fa-phone"></i></span>
                        <a href="tel:{{enterprise.phoneNumber}}" class="text-[#408A7E] hover:underline">{{enterprise.phoneNumber}}</a>
                    </p>
                    <p class="mb-3 font-normal text-[#408A7E]">
                        <span class="mr-2"><i class="fa-solid fa-globe"></i></span>
                        <a href="{{enterprise.email}}"  target="_blank" class="text-[#408A7E] hover:text-[#306F64] visited:text-[#675E86] font-normal underline"> {{enterprise.email}}</a>
                    </p>
                </div>
                <div class="relative w-30 h-30 overflow-hidden bg-gray-100 rounded-full flex text-center items-center justify-center lg:justify-center ml-4">
                    <img class="object-cover rounded-full h-full w-full text-center item-center" src="{{ enterprise.imageBase64Content ? enterprise.imageBase64Content : '../../../assets/icons/icon-user.png' }}" alt="enterprise icon">
                </div>
            </div>
            <div class="flex mt-4 mb-4 justify-center">
		        <button
			        type="submit"
			        (click)="onClose()"
			        class="bg-[#EE1B22] rounded-lg h-10 text-white text-md font-dmsans font-semibold px-10 mt-5">
			        {{'CLOSE' | translate}}
		        </button>
	        </div>
        </div>
    </div>
</div>
