<div class="main">
  <app-side-bar class="app-side" [screen]="'/projets'"></app-side-bar>
  <div class="head-home" >
    <app-top-bar class="w-full flex-grow-1 " title="Mes projets"></app-top-bar>
    <div class="div-center">
      <div class="flex">
        <button class="font-dmsans text-[#737373] text-base font-semibold text-left" (click)="gotoHome()">&lt;Retour</button>
      </div>
      <div class="nav">
        <button (click)="nextScreeen(1)" [ngClass]="screen === 1 ? 'text-[#408A7E] border-b-2 border-[#408A7E] ' : ''">Suivi de mes opportunités</button>
        <!-- <button (click)="nextScreeen(2)" [ngClass]="screen === 2 ? 'text-[#EE1B22] border-b-2 border-[#EE1B22] ' : ''">Mot de passe</button>
        <button (click)="nextScreeen(3)" [ngClass]="screen === 3 ? 'text-[#EE1B22] border-b-2 border-[#EE1B22] ' : ''">Notifications</button> -->
      </div>

      <div class="rounded-2xl bg-white h-full w-full p-3">
        <ng-container *ngFor="let project of listProject; let i = index">
          <p class="text-[#408A7E] text-xl font-semibold font-dmsans">Liste des positionnés {{project.title}}</p>
          <table class="table-fixed">
            <thead>
              <tr>
                <th>Prénoms - Nom</th>
                <th>Disponibilité</th>
                <th>Email</th>
                <th>Entreprise</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of positioners[project.id]; let j = index">
                <td>{{item?.partner?.user?.firstName}} {{item?.partner?.user?.lastName}} </td>
                <td>
                  <p *ngFor="let item of getAllDisponibility(item.disponibilities)">{{ item | date: 'EEE, dd MMM à HH:mm' : 'fr' }}</p>

                </td>
                <td>{{item?.partner?.user?.login}} </td>
                <td>{{item?.partner?.enterprise?.name}} </td>
                <td>
                  <button (click)="rejectPositioning(project.id, j, item.id)" class="rounded-lg text-base text-white font-dmsans px-6 py-1 bg-[#EE1B22] shadow-md mr-3">Rejeter</button>
                  <button (click)="validatePositioning(project.id, j, item.id)" class="rounded-lg text-base text-white font-dmsans px-6 py-1 bg-[#408A7E] shadow-md">Valider</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="border-b-2 border-[#737373]/40 text-[#737373] w-full my-5"></div>
        </ng-container>
      </div>
    </div>
  </div>

</div>
