<div class="border-b-2 border-[#E5E5E5]">
  <p class="font-poppins font-semibold text-xl mt-16">Paramètres de notification</p>
  <p class="font-poppins text-[#344054] my-4">Nous pourrions toujours vous envoyer des notifications importantes concernant des opportunités en dehors de vos paramètres de notification.</p>
</div>
<div class="my-5  border-b-2 border-[#E5E5E5]">
  <form action="">
    <div class="flex items-center w-2/3 justify-between mb-8 pb-5  border-b-2 border-[#E5E5E5]">
      <label for="" class="font-poppins font-semibold text-base text-[#344054] w-[40%]">Mot de passe actuel</label>
        <input type="password" placeholder="*************" class="text-[#344054] text-sm font-poppins outline outline-[2px] outline-[#E5E5E5] focus:outline-[#D1E9FF] h-10 rounded-lg pl-3 mt-1 w-[60%] ">
    </div>
    <div class="flex items-center w-2/3 justify-between mb-8 pb-5  border-b-2 border-[#E5E5E5] ">
      <label for="" class="font-poppins font-semibold text-base text-[#344054] w-[40%]">Nouveau mot de passe</label>
      <input type="password" placeholder="*************" class="text-[#344054] text-sm font-poppins outline outline-[2px] outline-[#E5E5E5] focus:outline-[#D1E9FF] h-10 rounded-lg pl-3 mt-1 w-[60%]">
      <!-- <p class="font-poppins text-sm text-[#848484]/60">Votre nouveau mot de passe doit comporter plus de 8 caractères.</p> -->
    </div>
    <div class="flex items-center w-2/3 justify-between mb-8 pb-5  border-b-2 border-[#E5E5E5] ">
      <label for="" class="font-poppins font-semibold text-base text-[#344054] w-[40%]">Confirmez le nouveau mot de passe</label>
      <input type="password" placeholder="*************" class="text-[#344054] text-sm font-poppins outline outline-[2px] outline-[#E5E5E5] focus:outline-[#D1E9FF] h-10 rounded-lg pl-3 mt-1 w-[60%]">
    </div>
  </form>
<div class="flex justify-end my-8">
  <button class="border-2 border-[#C1C1C1] text-[#344054] py-2 px-5 font-poppins text-base font-semibold rounded-md mr-5">Annuler</button>
  <button class="bg-[#17418B] border-2 border-[#C1C1C1] text-white py-2 px-5 font-poppins text-base font-semibold rounded-md mr-5">Enregistrer</button>
</div>
