<div class="div-center w-full h-full px-10 pb-7 pt-5 md:py-4 md:px-6 flex flex-col bg-white">
  <div class="flex justify-end">
    <button class="text-black border-none outline-none w-7" (click)="closeDialog()">
      <img src="../../../../assets/icons/close-dialog.svg" alt="">
    </button>
  </div>
  <div class="border-b-2 border-[#E5E5E5] mb-4">
    <p class="text-black font-semibold font-dmsans">Documents du projet</p>
  </div>
  <div class="my-10 flex items-center flex-wrap">
    <div *ngFor="let file of allDocuments" (mouseover)="file.hover = true" (mouseout)="file.hover = false" class="relative">
      <div class="preview-image w-[100px] h-[100px] mr-5" *ngIf="file.base64Content.startsWith('data:image/')">
        <img [src]="file.safeUrl" alt="{{ file.name }}">
      </div>
      <div class="preview-pdf w-[100px] h-[100px] mr-5" *ngIf="file.base64Content.startsWith('data:application/pdf')">
        <embed [src]="file.safeUrl" type="application/pdf" width="100px" height="100px">
      </div>
       <!-- Afficher les fichiers Excel -->
      <!-- <div class=" w-[100px] h-[100px]" *ngIf="file.base64Content.startsWith('data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')" [innerHTML]="getExcelContent(file)"></div> -->

      <div class="flex justify-between bg-gray-100 float-start h-1/2 w-[100px]" *ngIf="file.base64Content.startsWith('data:image/') || file.base64Content.startsWith('data:application/pdf')">
        <button class="w-7 h-7 bg-[#B41A2C]/15 rounded-full flex items-center justify-center">
          <i class="fas fa-trash cursor-pointer text-[#B41A2C] " (click)="deleteFile(file)"></i>
        </button>
        <a [href]="file.safeUrl" download="{{ file.name }}" class="w-7 h-7 bg-[#1C3879]/15 rounded-full flex items-center justify-center"><i class="fas fa-download cursor-pointer text-[#1C3879]"></i></a>
      </div>
    </div>
  </div>
</div>
