<div class="div-center w-full h-full px-4 pb-7 pt-2 md:py-4 md:px-6 flex flex-col bg-white max-w-4xl">
    <div class="w-full p-1 pt-3 border-b-2 border-[#E5E5E5] mb-4">
		<h4 class="text-[#408A7E] text-xl">{{'PROFILE' | translate}} </h4>
	</div>

    <div class="lg:flex lg:justify-center">
        <div class="lg:w-1/2 flex flex-col items-center mt-10">
            <div class="relative w-20 h-20 overflow-hidden rounded-full border-1 border-gray-300 flex items-center justify-center -pl-20">
                <img class="object-cover rounded-full h-full w-full" [src]="partner.imageBase64Content || '../../../assets/icons/icon-user.png'" alt="use icon">
            </div>
            <div class="flex flex-col justify-left items-start pt-1 leading-normal">
                <div class="w-full justify-center mt-2">
                    <p class="mb-2 text-lg font-bold tracking-tight text-[#408A7E] text-center">{{partner.user.firstName}} {{partner.user.lastName}}</p>
                </div>
                <p class="mb-3 font-normal text-gray-700"> <span class="font-bold">{{'ROLE' | translate}}: </span>{{translateRole(partner.employeePost.title) | translate}}</p>
                <p class="mb-3 font-normal text-gray-700"> <span class="font-bold">Email: </span> {{partner.user.email}}</p>
                <p class="mb-3 font-normal text-gray-700"> <span class="font-bold">{{'TELEPHONE' | translate}}: </span> {{partner.phoneNumber}}</p>
            </div>
        </div>
        <div class="lg:w-1/2 lg:pl-4 lg:mt-4 mr-4 flex flex-col items-center lg:items-end">
            <div class="flex flex-col justify-between leading-normal">
                <h5 class="mb-2 text-lg font-bold tracking-tight text-[#408A7E]">{{enterprise.name}}</h5>
                <p class="mb-3 font-normal text-gray-700">{{enterprise.name! | translate}}</p>
                <p class="mb-3 font-normal text-gray-700 mt-5"> <span class="mr-2"><i class="fa-solid fa-location-dot"></i></span> {{enterprise.address}}</p>
                <p class="mb-3 font-normal text-[#408A7E]">
                    <span class="mr-2"><i class="fa-solid fa-globe"></i></span>
                    <a href="{{enterprise.email}}"  target="_blank" class="text-[#408A7E] hover:text-[#306F64] visited:text-[#675E86] font-normal underline"> {{enterprise.email}}</a>
                </p>
                <p class="mb-3 font-normal text-[#408A7E]">
                    <span class="mr-2"><i class="fa-solid fa-phone"></i></span>
                    <a href="tel:{{enterprise.phoneNumber}}" class="text-[#408A7E] hover:underline">{{enterprise.phoneNumber}}</a>
                </p>
            </div>
            <div class="relative w-20 h-20 -mt-15 overflow-hidden flex items-center justify-center">
                <img class="object-cover h-full w-full" [src]="enterprise.imageUrl || '../../../assets/icons/icon-enterprise.webp'" alt="enterprise icon">
            </div>
        </div>
    </div>


    <div class="flex justify-center mt-4 mb-4">
		<button
			type="submit"
			(click)="onClose()"
			class="bg-[#EE1B22] rounded-lg h-10 text-white text-md font-dmsans font-semibold px-10 mt-5">
			{{'CLOSE' | translate}}
		</button>
	</div>
</div>
