<div class="background-inscription main">
  <app-selectionner-langue class="self-end"></app-selectionner-langue>
  <img src="../../../assets/img/logo-inhub.svg" alt="" class="self-start  w-16 md:w-20">
  <div class="h-full w-full flex items-center justify-center ">
    <div [ngSwitch]="page" class="form-inscription div-form">
      <div class="right" *ngSwitchCase="0">
        <div class="reset-mdp">
          <p class="title">Mot de passe oublié</p>
          <p class="desc">Fournissez l'adresse email de votre compte pour réinitialiser votre mot de passe</p>
          <form class="form" [formGroup]="mailForm">
            <div class="w-full">
              <label for="" class="label-inscription">Email</label>
              <input type="email" class="input-inscription"  id="email" name="email" formControlName="email" required>
              <div *ngIf="getControl('email')?.invalid && (getControl('email')?.dirty || getControl('email')?.touched)" class="text-red-600 text-xs">
                L'Email est requis.
              </div>
              <div *ngIf="getControl('email')?.errors?.['email']" class="text-red-600 text-xs">
                Veuillez renseigner un email valide.
              </div>
            </div>
            <div class="div-button">
              <button type="reset" class="cancel" (click)="toConnexion()">Annuler</button>
              <button type="submit" class="submit" [disabled]="mailForm.invalid" (click)="onSubmit(true)">Confirmer</button>
            </div>
          </form>
        </div>
      </div>
      <div class="right" *ngSwitchCase="1">
        <div class="reset-mdp">
          <img src="../../../assets/img/timer.svg" alt="">
          <p class="title">Mot de passe oublié</p>
          <p class="desc mb-10">Vous recevrez un e-mail contenant un lien pour réinitialiser votre mot de passe.
            Veuillez vérifier votre boîte de réception</p>
            <div class="footer-inscription mb-3 self-start">
              <button  [disabled]="isButtonDisabled()" (click)="startTimerOnClick()" class="flex">Renvoyer le lien par e-mail (<p *ngIf="seconds < 60"> {{seconds}} </p>) </button>
            </div>
            <div class="footer-inscription self-start" (click)="decremente()">
              <button>Modifier l'adresse e-mail</button>
            </div>
        </div>
      </div>
      <div *ngSwitchDefault=""></div>
    </div>
  </div>
</div>
