<div class="flex flex-col md:flex-row justify-between border-b-2 border-[#E5E5E5] w-full py-3 items-center">
  <div class="div-title">
    <p >Informations Personnelles</p>
    <p >Mettez à jour votre photo et vos informations personnelles ici</p>
  </div>
  <div class="div-button">
    <button class="border-2 border-[#C1C1C1] text-[#344054]" type="reset" (click)="resetForm()">Annuler</button>
    <button class="bg-[#408A7E] text-white" type="submit" (click)="submit()">Enregistrer</button>
  </div>
</div>
<div class="my-5">
  <form [formGroup]="profilForm">
    <div class=" flex flex-col items-center md:flex-row my-5 pb-5 border-b-2 border-[#E5E5E5]">
      <div class="md:mr-20">
        <div>
          <img src="../../../assets/img/pp.svg" alt="" class="w-14 self-start mr-5">
          <p class="text-[#000] text-base font-medium font-dmsans">Votre photo</p>
          <p class="text-[#344054] text-sm font-dmsans">Ceci sera affiché sur votre profil</p>
        </div>
      </div>
      <div class="flex w-full mt-5 md:mt-0 md:w-[60%] mb-10">
        <input type="file" id="fileInput" class="hidden"/>
        <label for="fileInput" class=" bg-[#408A7E] text-white shadow-md py-2 px-5 h-10 flex items-center font-dmsans text-base rounded-md mr-5 cursor-pointer">
          <i class="fas fa-edit" > </i>
          &nbsp;Modifier la photo
        </label>
        <button class=" bg-[#EE1B22] shadow-md text-white py-2 px-5 h-10 flex items-center font-dmsans text-base rounded-md mr-5">
          <i class="fa-regular fa-trash-can"></i>
          &nbsp;Supprimer la photo
        </button>
      </div>
    </div>
    <div class="div-line-form">
      <div class="w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">Prénom(s)</label>
        <div class="w-[60%]">
          <input type="text" value="{{user.user.firstName}}" placeholder="Mame Diarra Bousso" formControlName="firstName" class="input-line-form ">
          <div *ngIf="getControl('firstName')?.invalid && (getControl('firstName')?.dirty || getControl('firstName')?.touched)" class="text-red-600 text-xs">
            Le prénom est requis.
          </div>
        </div>
      </div>
      <div class="ml-5 w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">Nom</label>
        <div class="w-[60%]">
          <input type="text" placeholder="Gueye" value="{{user.user.lastName}}" formControlName="lastName" class="input-line-form">
          <div *ngIf="getControl('lastName')?.invalid && (getControl('lastName')?.dirty || getControl('lastName')?.touched)" class="text-red-600 text-xs">
            Le nom est requis.
          </div>
        </div>
      </div>
    </div>
    <div class="div-line-form">
      <div class=" w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">Adresse email</label>
        <div class="w-[60%]">
          <input type="email" readonly value="{{user.user.login!}}" formControlName="email" placeholder="diarra.bousso@gmail.com" class="input-line-form-readonly">
          <!-- <div *ngIf="getControl('email')?.invalid && (getControl('email')?.dirty || getControl('email')?.touched)" class="text-red-600 text-xs">
            L'Email est requis.
          </div>
          <div *ngIf="getControl('email')?.errors?.['email']" class="text-red-600 text-xs">
            Veller renseigner un email valide.
          </div> -->
        </div>
      </div>
      <div class="ml-5 w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">Numéro de téléphone</label>
        <div class="w-[60%]">
          <input type="text" value="{{user.phoneNumber}}" formControlName="phoneNumber" placeholder="+221 78 272 71 91" class="input-line-form">
          <div *ngIf="getControl('phoneNumber')?.invalid && (getControl('phoneNumber')?.dirty || getControl('phoneNumber')?.touched)" class="text-red-600 text-xs">
            Le Numéro de téléphone est requis.
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5 border-b-2 border-[#E5E5E5]">
      <div class="div-line-form ">
        <div class="w-1/2 flex justify-between items-center">
          <label for="" class="label-line-form">Role</label>
          <div class="w-[60%]">
            <input type="text" value="{{user.employeePost.title}}" formControlName="role" placeholder="Commercial" class="input-line-form">
            <div *ngIf="getControl('role')?.invalid && (getControl('role')?.dirty || getControl('role')?.touched)" class="text-red-600 text-xs">
              Le role est requis.
            </div>
          </div>
        </div>
        <div class="ml-5 w-1/2 flex justify-between items-center">
          <label for="" class="label-line-form">Entreprise</label>
          <div class="w-[60%]">
            <input type="text" readonly value="{{user.enterprise.name}}" formControlName="enterpriseName" placeholder="Inhub" class="input-line-form-readonly">
            <!-- <div *ngIf="getControl('enterpriseName')?.invalid && (getControl('enterpriseName')?.dirty || getControl('enterpriseName')?.touched)" class="text-red-600 text-xs">
              L'Entreprise est requis.
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="div-line-form">
      <div class=" w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">Sujets d’intérêts</label>
        <div class="w-[60%]">
          <select formControlName="centreInteret" class="input-line-form">
            <option value="" disabled [selected]="true">Choisissez une option...</option>
            <option value="mecanique">Mecanique</option>
            <option value="electronique">Electronique</option>
            <option value="aeoronotique">Aeronotique</option>
          </select>
          <div *ngIf="getControl('centreInteret')?.invalid && (getControl('centreInteret')?.dirty || getControl('centreInteret')?.touched)" class="text-red-600 text-xs">
            Le centre d'interêt est requis.
          </div>
        </div>
      </div>
      <div class="ml-5 w-1/2 flex justify-between items-center">
        <div class="border-[2px] border-[#737373]/20 w-full rounded-lg flex px-2 flex-wrap">
          <div *ngFor="let item of centreInteret" class="rounded-lg p-3 text-[#408A7E] text-xs bg-[#DBE9E6] mr-3 h-6 flex items-center justify-between my-2"> {{item}} <i class=" ml-2 fas fa-xmark"></i></div>
        </div>
      </div>
    </div>
  </form>
</div>

