<div class="flex flex-col overflow-auto ">
  <div class=" flex w-full">
    <div class="w-[14%] flex flex-col justify-end">
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Reunion d'init</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(0)?.tasks?.at(0)! , project.phases?.at(0)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#00CE2D] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans" >Validation des partenaires</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(0)?.tasks?.at(1)! , project.phases?.at(0)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#00CE2D] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div>
            <p class="text-[#696969] text-sm font-dmsans" >Chiffrage de l'étude</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(0)?.tasks?.at(2)! , project.phases?.at(0)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <div class="bg-[#E68A00] w-1/2 h-1"></div>
          <div class="bg-[#D9D9D9] w-1/2 h-1"></div>
        </div>
      </div>
    </div>
    <div class="w-[14%]"></div>
    <div class="w-[14%] flex flex-col justify-end">
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div>
            <p class="text-[#696969] text-sm font-dmsans">Premier concept 3D</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(2)?.tasks?.at(0)! , project.phases?.at(2)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#00CE2D] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div>
            <p class="text-[#696969] text-sm font-dmsans">Validation faisabilité technique</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2"  (click)="openInitDialog(project.phases?.at(2)?.tasks?.at(1)! , project.phases?.at(2)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <div class="bg-[#E68A00] w-1/2 h-1"></div>
          <div class="bg-[#D9D9D9] w-1/2 h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div>
            <p class="text-[#696969] text-sm font-dmsans">Validation du chiffrage</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(2)?.tasks?.at(2)! , project.phases?.at(2)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Réalisation première maquette</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(2)?.tasks?.at(3)! , project.phases?.at(2)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
    </div>
    <div class="w-[14%]"></div>
    <div class="w-[14%] flex flex-col justify-end">
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Qualifier les outils</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(4)?.tasks?.at(0)! , project.phases?.at(4)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Réalisation des pré séries</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(4)?.tasks?.at(1)! , project.phases?.at(4)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Standardisation du produit</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(4)?.tasks?.at(2)! , project.phases?.at(4)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Création des games de contrôle</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(4)?.tasks?.at(3)! , project.phases?.at(4)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex mt-10">
    <div (click)="openPreSalesDialog(project.phases?.at(0)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#00CE2D] from-20% via-[#F0F0F0] via-50% to-[#F0F0F0] t0-70% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Avant vente
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(1)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#00CE2D] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Init
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(2)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#00CE2D] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Faisabilité
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(3)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#F0F0F0] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Étude
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(4)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#F0F0F0] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Industrialisation
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(5)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#F0F0F0] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Mise en production
    </div>
  </div>
  <div class=" flex w-full mt-10">

    <div class="w-[14%]"></div>
    <div class="w-[14%] flex flex-col justify-start">
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Rédaction cahier des charges</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(1)?.tasks?.at(0)! , project.phases?.at(1)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#00CE2D] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Planning</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(1)?.tasks?.at(1)! , project.phases?.at(1)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#00CE2D] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div>
            <p class="text-[#696969] text-sm font-dmsans">Enveloppe budget</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(1)?.tasks?.at(2)! , project.phases?.at(1)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <div class="bg-[#E68A00] w-1/2 h-1"></div>
          <div class="bg-[#D9D9D9] w-1/2 h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div>
            <p class="text-[#696969] text-sm font-dmsans">Étude marché</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(1)?.tasks?.at(3)! , project.phases?.at(1)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
    </div>

    <div class="w-[14%]"></div>
    <div class="w-[14%] flex flex-col justify-start">
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Figer concept</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(3)?.tasks?.at(0)! , project.phases?.at(3)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#00CE2D] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Réalisation prototype fonctionnel</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(3)?.tasks?.at(1)! , project.phases?.at(3)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Phase qualification labo</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(3)?.tasks?.at(2)! , project.phases?.at(3)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Validation matrice conformité normes</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(3)?.tasks?.at(3)! , project.phases?.at(3)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>

    </div>
    <div class="w-[14%]"></div>
    <div class="w-[14%] flex flex-col justify-start">
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Réalisation du FAI</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(5)?.tasks?.at(0)! , project.phases?.at(5)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Réalisation des séries</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(5)?.tasks?.at(1)! , project.phases?.at(5)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>
      <div class="mb-2">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <!-- <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1"></div> -->
            <p class="text-[#696969] text-sm font-dmsans">Validation du process</p>
          </div>
          <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(project.phases?.at(5)?.tasks?.at(2)! , project.phases?.at(5)!)"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="h-1 w-full flex">
          <!-- <div class="bg-[#E68A00] w-1/2 h-1"></div> -->
          <div class="bg-[#D9D9D9] w-full h-1"></div>
        </div>
      </div>

    </div>
  </div>
</div>
