<div class="flex flex-col overflow-auto ">
  <div class=" flex w-full">
    <ng-container *ngFor="let phase of project.phases; let i = index">
      <div class="w-[14%] flex flex-col justify-end" *ngIf="i % 2 === 0">
        <div class="mb-2" *ngFor="let task of phase.tasks">
          <div class="flex items-center justify-between mb-2">
            <div class="flex items-center">
              <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1" *ngIf="isExpired(task.endDate!)"></div>
              <p class="text-[#696969] text-sm font-dmsans text-wrap">{{task.label! | translate}} </p>
            </div>
            <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(task, phase)"><i class="fas fa-chevron-right"></i></div>
          </div>
          <div class="h-1 w-full flex">
            <div class="bg-[#D9D9D9] w-full h-1" *ngIf="!isTaskDone(task.done)"></div>
            <div class="bg-[#00CE2D] w-full h-1" *ngIf="isTaskDone(task.done)"></div>
          </div>
        </div>
      </div>
      <div class="w-[14%]" *ngIf="i % 2 !== 0"></div>
    </ng-container>

  </div>
  <div class="flex mt-10">
    <div (click)="openPreSalesDialog(project.phases?.at(0)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#00CE2D] from-20% via-[#F0F0F0] via-50% to-[#F0F0F0] t0-70% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Avant vente
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(1)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#00CE2D] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Init
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(2)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#00CE2D] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Faisabilité
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(3)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#F0F0F0] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Étude
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(4)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#F0F0F0] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Industrialisation
    </div>
    <div (click)="openPreSalesDialog(project.phases?.at(5)!)" class="cursor-pointer h-24 w-[14%] bg-gradient-to-r from-[#F0F0F0] from-10% via-[#F0F0F0] via-30% to-[#F0F0F0] t0-60% shadow-custom font-dmsans text-base text-black flex justify-center items-center">
      Mise en production
    </div>
  </div>
  <div class=" flex w-full mt-10">
    <ng-container *ngFor="let phase of project.phases; let i = index">
      <div class="w-[14%] flex flex-col justify-start" *ngIf="i % 2 !== 0">
        <div class="mb-2" *ngFor="let task of phase.tasks">
          <div class="flex items-center justify-between mb-2">
            <div class="flex items-center">
              <div class="rounded-full w-1 h-1 bg-[#E68A00] mr-1" *ngIf="isExpired(task.endDate!)"></div>
              <p class="text-[#696969] text-sm font-dmsans text-wrap">{{task.label! | translate}} </p>
            </div>
            <div class="rounded-full bg-white p-2 w-7 h-7 text-lg flex items-center ml-2" (click)="openInitDialog(task, phase)"><i class="fas fa-chevron-right"></i></div>
          </div>
          <div class="h-1 w-full flex">
            <div class="bg-[#D9D9D9] w-full h-1" *ngIf="!isTaskDone(task.done)"></div>
            <div class="bg-[#00CE2D] w-full h-1" *ngIf="isTaskDone(task.done)"></div>
          </div>
        </div>
      </div>
      <div class="w-[14%]" *ngIf="i % 2 === 0"></div>
    </ng-container>
  </div>
</div>
