<div class="projet-container">
    <div class="upper-home flex justify-between">
        <div class="upper-home-left flex flex-col w-[65%] p-3 ml-1 shadow-lg bg-white rounded-xl mt-3">
            <div class="upper-home-left-redbox ">
                <div class="bloc">
                    <p class=" w-full text-[#408A7E] font-dmsans font-bold text-lg pt-2">Développement de Solutions de Connectivité pour des Applications Spatiales</p>
                    <p
                        class="font-dmsans text-[#121212]/60 text-base">
                        {{ (project?.description | slice: 0: 300) }}
                        <span
                        class="cursor-pointer text-[#121212] hover:text-[#408A7E]"
                        *ngIf="project?.description!.length > 300"
                        (click)="openShowMoreDialog(project?.title!, project?.description!)"> ...<span class="underline hover:no-underline">{{'SHOW_MORE' | translate}} </span>
                        </span>
                    </p>
                </div>
                <div class="flex items-start justify-between mt-7 w-full">
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Responsable</p>
                        <p class="text-[#737373] font-dmsans text-md">Mame Diarra Bousso</p>
                        <div class="flex items-center"> 
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/pem.svg" alt="">
                            <p class="text-[#737373] font-dmsans text-sm font-xs ml-3">Nicomatic</p>
                        </div>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Client</p>
                        <p class="text-[#737373] font-dmsans text-md">Inhub Group</p>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Marché</p>
                        <p class="text-[#737373] font-dmsans text-md">Automobile</p>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Durée contrat</p>
                        <p class="text-[#737373] font-dmsans text-md">5 années</p>
                    </div>
                </div>         
                
                <div class="flex items-start justify-between mt-7 w-full">
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Métiers</p>
                        <p class="text-[#737373] font-dmsans text-md">Plasturgie</p>
                        <p class="text-[#737373] font-dmsans text-md">Assemblage</p>
                        <p class="text-[#737373] font-dmsans text-md">Sourcing</p>
                        <p class="text-[#737373] font-dmsans text-md">Prototypiste</p>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Délai au plus tôt</p>
                        <p class="text-[#737373] font-dmsans text-md">3 Mars 2024</p>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Délai au plus tard</p>
                        <p class="text-[#737373] font-dmsans text-md">09 Juin 2024</p>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Volume global</p>
                        <p class="text-[#737373] font-dmsans text-md">180 lots</p>
                    </div>
                </div>  

                <div class="flex items-start justify-between -mt-5">
                    <div class="flex flex-col flex-1 text-right w-80 pr-20">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Budget</p>
                        <p class="text-[#737373] font-dmsans text-md">1400 euros</p>
                    </div>

                    <div class="flex flex-col flex-1 text-right w-80 pr-20">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">Status</p>
                        <p class="text-[#737373] font-dmsans text-md">En cours</p>
                    </div>
                </div>

                <div class="flex items-start justify-end mt-10 w-full">
                    <div class="flex flex-col flex-1">
                        <button class="bg-[#408A7E] rounded-lg h-10 text-white text-sm font-dmsans font-semibold px-5 mt-5 mr-10">Modifier projet</button>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <button (click)="deleteProject()" class="bg-[#EE1B22] rounded-lg h-10 text-white text-sm font-dmsans font-semibold px-5 mt-5">Supprimer projet</button>
                    </div>
                </div>                

            </div>
        </div>
        <div class="upper-home-right w-[30%] mr-2">
            <div class="rounded-xl bg-white px-4 pt-4 pb-7 mb-5 mt-3 shadow-lg">
                <div class="bloc mb-2">
                    <p class="font-semibold font-md text-[#121212]">Évènements</p>
                </div>
                <div class="overflow-auto max-h-20">
                    <div class="flex mb-5">
                        <img src="../../../assets/img/plannification.svg" alt="" class="mr-1 mb-0.5">
                        <div class="ml-2 flex flex-col justify-between w-full">
                            <div class="flex justify-between w-full">
                                <p class="font-dmsans text-md">Rénion de planification du projet</p>
                                <!-- <img src="../../../assets/img/trois-points.svg" alt="" class="w-3"> -->
                            </div>
                            <div class="flex justify-between w-full ">
                                <ul class="flex text-sm list-disc list-inside text-[#7D8DA6]">
                                    <li class="mr-3">Réunion</li>
                                    <li class="mr-3">07 Février 2024</li>
                                    <li class="">10:00 am</li>
                                </ul>
                                <img src="../../../assets/img/video.svg" alt="" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carnet rounded-xl bg-white pl-5 pr-1 pt-4 pb-7 mr-2 shadow-lg text-[#121212]">
                <p class="font-dmsans text-md mb-3 font-semibold">Participants</p>
                <div class="overflow-auto max-h-80">
                    <div class="max-h-80 overflow-auto">
                        <div class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3 cursor-grab">
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/pem.svg" alt="">
                            <div class="font-dmsans flex flex-col justify-left items-start">
                                <p class="text-md font-medium">Cheikh Oumar Ba</p>
                                <p class="text-sm font-xs text-gray-400">Nicomatic</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <p class="text-sm font-xs text-gray-400">Mécanicienne</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                            </div>
                        </div>
                    </div>

                    <div class="max-h-80 overflow-auto">
                        <div class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3 cursor-grab">
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/conicio.svg" alt="">
                            <div class="font-dmsans flex flex-col justify-left items-start">
                                <p class="text-md font-medium">Cheikh Oumar Ba</p>
                                <p class="text-sm font-xs text-gray-400">Nicomatic</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <p class="text-sm font-xs text-gray-400">Mécanicienne</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                            </div>
                        </div>
                    </div>

                    <div class="max-h-80 overflow-auto">
                        <div class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3 cursor-grab">
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/az-injection.svg" alt="">
                            <div class="font-dmsans flex flex-col justify-left items-start">
                                <p class="text-md font-medium">Cheikh Oumar Ba</p>
                                <p class="text-sm font-xs text-gray-400">Nicomatic</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <p class="text-sm font-xs text-gray-400">Mécanicienne</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                            </div>
                        </div>
                    </div>

                    <div class="max-h-80 overflow-auto">
                        <div class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3 cursor-grab">
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/nicomatic.svg" alt="">
                            <div class="font-dmsans flex flex-col justify-left items-start">
                                <p class="text-md font-medium">Cheikh Oumar Ba</p>
                                <p class="text-sm font-xs text-gray-400">Nicomatic</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <p class="text-sm font-xs text-gray-400">Mécanicienne</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                            </div>
                        </div>
                    </div>

                    <div class="max-h-80 overflow-auto">
                        <div class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3 cursor-grab">
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/conicio.svg" alt="">
                            <div class="font-dmsans flex flex-col justify-left items-start">
                                <p class="text-md font-medium">Cheikh Oumar Ba</p>
                                <p class="text-sm font-xs text-gray-400">Nicomatic</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <p class="text-sm font-xs text-gray-400">Mécanicienne</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                            </div>
                        </div>
                    </div>

                    <div class="max-h-80 overflow-auto">
                        <div class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3 cursor-grab">
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/az-injection.svg" alt="">
                            <div class="font-dmsans flex flex-col justify-left items-start">
                                <p class="text-md font-medium">Cheikh Oumar Ba</p>
                                <p class="text-sm font-xs text-gray-400">Nicomatic</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <p class="text-sm font-xs text-gray-400">Mécanicienne</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                            </div>
                        </div>
                    </div>

                    <div class="max-h-80 overflow-auto">
                        <div class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3 cursor-grab">
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/az-injection.svg" alt="">
                            <div class="font-dmsans flex flex-col justify-left items-start">
                                <p class="text-md font-medium">Cheikh Oumar Ba</p>
                                <p class="text-sm font-xs text-gray-400">Nicomatic</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <p class="text-sm font-xs text-gray-400">Mécanicienne</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                            </div>
                        </div>
                    </div>

                    <div class="max-h-80 overflow-auto">
                        <div class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3 cursor-grab">
                            <img class="w-10 h-10 rounded-full" src="../../../assets/img/enterprises-logo/mgb.svg" alt="">
                            <div class="font-dmsans flex flex-col justify-left items-start">
                                <p class="text-md font-medium">Cheikh Oumar Ba</p>
                                <p class="text-sm font-xs text-gray-400">Nicomatic</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <p class="text-sm font-xs text-gray-400">Mécanicienne</p>
                            </div>
                            <div class="flex flex-col justify-right items-start">
                                <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
