<div class="projet-container">
    <div class="upper-home flex justify-between">
        <div class="upper-home-left flex flex-col w-[65%] p-3 ml-1 shadow-lg bg-white rounded-xl mt-3">
            <div class="upper-home-left-redbox ">
                <div class="bloc flex items-start">
                    <div>
                        <p class="w-full text-[#408A7E] font-dmsans font-bold text-lg pt-2">{{project?.title}}</p>
                        <p class="font-dmsans text-[#121212]/60 text-base">
                            {{ (project?.description | slice: 0: 300) }}
                            <span class="cursor-pointer text-[#121212] hover:text-[#408A7E]"
                                *ngIf="project?.description!.length > 300"
                                (click)="openShowMoreDialog(project?.title!, project?.description!)"> ...
                                <span class="underline hover:no-underline">{{'SHOW_MORE' | translate}} </span>
                            </span>
                        </p>
                    </div>
                    <div class="ml-auto">
                        <div class="">
                            <div *ngIf="project?.status === 'IN_PROGRESS'" class="bg-yellow-400 text-white rounded-full px-2 py-1 text-xs">In Progress 🚀</div>
                            <div *ngIf="project?.status === 'FINISHED'" class="bg-green-500 text-white rounded-full px-2 py-1 text-xs">Completed ✅</div>
                            <div *ngIf="project?.status === 'ON_HOLD'" class="bg-red-500 text-white rounded-full px-2 py-1 text-xs">On Hold ⏸️</div>
                            <div *ngIf="project?.status === 'ARCHIVED'" class="bg-gray-500 text-white rounded-full px-2 py-1 text-xs">Archived 📁</div>
                        </div>
                    </div>
                </div>
                
                <div class="flex items-start justify-between mt-7 w-full">
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'RESPONSIBLE' | translate}}</p>
                        <p class="text-[#737373] font-dmsans text-md">{{project?.applicant?.user?.firstName}}</p>
                        <div class="flex items-center"> 
                            <img 
                                class="w-10 h-10 rounded-full" 
                                src="{{ project?.applicant?.imageBase64Content ? project?.applicant?.imageBase64Content : '../../../assets/icons/icon-user.png' }}"
                                alt="">
                            <p class="text-[#737373] font-dmsans text-sm font-xs ml-3">{{project?.enterprise?.name}}</p>
                        </div>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'CUSTOMER' | translate}}</p>
                        <p class="text-[#737373] font-dmsans text-md">{{project?.client}}</p>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'MARKET' | translate}}</p>
                        <p 
                            *ngFor="let market of project?.markets"
                            class="text-[#737373] font-dmsans text-md">{{market?.name}}
                        </p>
                    </div>
                
                    <div *ngIf="project?.needType == 'CONTRACT'" class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'CONTRACT_DURACTION' | translate}}</p>
                        <p class="text-[#737373] font-dmsans text-md">{{project?.duration}}</p>
                    </div>
                </div>         
                
                <div class="flex items-start justify-between mt-7 w-full">
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'PROFESSIONS' | translate}}</p>
                        <select class="text-[#737373] font-dmsans text-md">
                            <option *ngFor="let domain of project?.domains" >{{domain?.name}}</option>
                        </select>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'EARLEAST_DEADLINE' | translate}}</p>
                        <p class="text-[#737373] font-dmsans text-md">{{ formatDate(project?.earliestDeadline) }}</p>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'LATEST_DEADLINE' | translate}}</p>
                        <p class="text-[#737373] font-dmsans text-md"> {{ formatDate(project?.latestDeadline) }}</p>
                    </div>
                </div>  

                <div class="flex items-end justify-between mt-7">
                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'BUDGET' | translate}}</p>
                        <p class="text-[#737373] font-dmsans text-md">{{project?.budget}}</p>
                    </div>

                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3">{{'OVERALL_VOLUME' | translate}}</p>
                        <p class="text-[#737373] font-dmsans text-md">{{project?.globalVolume}}</p>
                    </div>

                    <div class="flex flex-col flex-1">
                        <p class="text-[#408A7E] font-dmsans text-md font-semibold mb-3"></p>
                        <p class="text-[#737373] font-dmsans text-md"></p>
                    </div>
                </div>
                

                <div *ngIf="project?.applicant?.id === currentConnectedUser?.id" class="flex items-start justify-end mt-10 w-full">
                    <div class="flex flex-col flex-1">
                        <button (click)="modifyProject(project)" class="bg-[#408A7E] rounded-lg h-10 text-white text-sm font-dmsans font-semibold px-5 mt-5 mr-10">{{'MODIFY_PROJECT' | translate}}</button>
                    </div>
                
                    <div class="flex flex-col flex-1">
                        <button (click)="deleteProject()" class="bg-[#EE1B22] rounded-lg h-10 text-white text-sm font-dmsans font-semibold px-5 mt-5">{{'DELETE_PROJECT' | translate}}</button>
                    </div>
                </div>                

            </div>
        </div>
        <div class="upper-home-right w-[30%] mr-2">
            <div class="rounded-xl bg-white px-4 pt-4 pb-3 mb-5 mt-3 shadow-lg">
                <div class="flex items-center justify-between bloc mb-2">
                    <p class="font-semibold font-md text-[#121212]">{{'EVENTS' | translate}}</p>
                    <button 
                        class="flex items-center text-white bg-gray-400 rounded-full px-2 py-1 text-xs"
                        (click)="addEvenementDialog()">
                        <i class="material-icons text-white">add</i> 
                        <span class="ml-1">Ajouter un évènement</span>
                    </button>
                </div>
                <div class="overflow-auto no-scrollbar max-h-60">
                    <div class="flex mb-5" *ngFor="let event of events">
                        <img src="../../../assets/img/plannification.svg" alt="" class="mr-1 mb-0.5">
                        <div class="ml-2 flex flex-col justify-between w-full">
                            <div class="flex justify-between w-full">
                                <p class="font-dmsans text-md">{{event?.title}}</p>
                            </div>
                            <div class="flex justify-between w-full mt-1">
                                <ul class="flex text-sm text-[#7D8DA6]">
                                    <li class="mr-7">{{ formatDate(event?.start) }}</li>
                                    <!-- <li class="ml-auto">10:00 am</li> -->
                                </ul>
                                <img src="../../../assets/img/video.svg" alt="" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carnet rounded-xl bg-white pl-5 pr-1 pt-4 pb-7 mr-2 shadow-lg text-[#121212]">
                <p class="font-dmsans text-md mb-3 font-semibold">{{'PARTICIPANTS' | translate}}</p>
                <div class="overflow-auto no-scrollbar max-h-80">
                    <div 
                        *ngFor="let member of project?.teamMembers" 
                        class="flex items-center gap-4 rounded-lg mb-3 p-2 mt-3">
                        <img 
                            class="w-8 h-8 rounded-full" 
                            src="{{ member?.imageBase64Content ? member?.imageBase64Content : '../../../assets/icons/icon-user.png' }}" 
                            alt="">
                        <div class="font-dmsans flex flex-col justify-left items-start">
                            <p class="text-md font-medium">{{member?.user?.firstName}} {{member?.user?.lastName}}</p>
                            <p class="text-sm font-xs text-gray-400">{{member?.enterprise?.name}}</p>
                        </div>
                        <div class="flex flex-col justify-right items-start">
                            <p class="text-sm font-xs text-gray-400">{{member?.employeePost?.title}}</p>
                        </div>
                        <div
                            (click)="openPartnerDetailsDialog(member)" 
                            class="flex flex-col justify-right items-end ml-auto cursor-grab">
                            <i class="fa-regular fa-eye text-sm font-xs text-gray-400"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
