<div class="border-b-2 border-[#E5E5E5] mb-10">
  <p class="font-dmsans font-semibold text-lg">{{'PASSWORD' | translate}} </p>
  <p class="font-dmsans text-[#383838] text-sm mb-4">{{'CHANGE_PASSWORD_DESC' | translate}} </p>
</div>
<div class="my-5  ">
  <form [formGroup]="changePasswordForm">
    <div class=" mb-8 pb-5  border-b-2 border-[#E5E5E5]">
      <div class="flex flex-col md:flex-row items-center w-ful md:w-2/3 md:justify-between ">
        <label for="" class="font-dmsans font-semibold text-base text-[#383838] w-full md:w-[40%]">{{'ACTU_PASSWORD' | translate}}</label>
        <div class="w-[60%]">
          <div class="div-password w-full">
            <input
              class="text-[#383838] text-sm font-dmsans outline outline-[1px] outline-[#737373] focus:outline-[#D1E9FF] h-10 rounded-lg pl-3 mt-1 w-full"
              type="{{ isOldPasswordVisible ? 'text' : 'password' }}"
              formControlName="oldPassword"
              id="oldPassword"
              name="oldPassword"
            />
            <span class="toggle-password" (click)="toggleOldPasswordVisibility()">
              <i class="{{ isOldPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
            </span>
          </div>
          <div *ngIf="getControl('oldPassword')?.invalid && (getControl('oldPassword')?.dirty || getControl('oldPassword')?.touched)" class="text-red-600 text-xs">
            {{'PASSWORD_REQUIRED' | translate}}.
          </div>
          <div *ngIf="getControl('oldPassword')?.errors?.['minlength']" class="text-red-600 text-xs">
            {{'PASSWORD_MIN_LENGTH_ERROR' | translate}}.
          </div>
          <div *ngIf="getControl('oldPassword')?.errors?.['maxlength']" class="text-red-600 text-xs">
            {{'PASSWORD_MAX_LENGTH_ERROR' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class=" mb-8 pb-5  border-b-2 border-[#E5E5E5]">
      <div class="flex flex-col md:flex-row items-center w-ful md:w-2/3 md:justify-between ">
        <label for="" class="font-dmsans font-semibold text-base text-[#383838] w-full md:w-[40%]">{{'NEW_PASSWORD' | translate}} </label>
        <div class="w-[60%]">
          <div class="div-password w-full ">
            <input
              class="text-[#383838] text-sm font-dmsans outline outline-[1px] outline-[#737373] focus:outline-[#D1E9FF] h-10 rounded-lg pl-3 mt-1 w-full"
              type="{{ isPasswordVisible ? 'text' : 'password' }}"
              formControlName="password"
              id="password"
              name="password"
            />
            <span class="toggle-password" (click)="togglePasswordVisibility()">
              <i class="{{ isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
            </span>
          </div>
          <div *ngIf="getControl('password')?.invalid && (getControl('password')?.dirty || getControl('password')?.touched)" class="text-red-600 text-xs">
            {{'PASSWORD_REQUIRED' | translate}}.
          </div>
          <div *ngIf="getControl('password')?.errors?.['minlength']" class="text-red-600 text-xs">
            {{'PASSWORD_MIN_LENGTH_ERROR' | translate}}.
          </div>
          <div *ngIf="getControl('password')?.errors?.['maxlength']" class="text-red-600 text-xs">
            {{'PASSWORD_MAX_LENGTH_ERROR' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class=" mb-8 pb-5  border-b-2 border-[#E5E5E5]">
      <div class="flex flex-col md:flex-row items-center w-ful md:w-2/3 md:justify-between">
        <label for="" class="font-dmsans font-semibold text-base text-[#383838] w-full md:w-[40%]">{{'CONFIRM_NEW_PASSWORD' | translate}} </label>
        <div class="w-[60%]">
          <div class="div-password w-full ">
            <input
              class="text-[#383838] text-sm font-dmsans outline outline-[1px] outline-[#737373] focus:outline-[#D1E9FF] h-10 rounded-lg pl-3 mt-1 w-full"
              type="{{ isConfirmPasswordVisible ? 'text' : 'password' }}"
              formControlName="cpassword"
              id="cpassword"
              name="cpassword"
            />
            <span class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
              <i class="{{ isConfirmPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
            </span>
          </div>
          <div *ngIf="getControl('cpassword')?.invalid && (getControl('cpassword')?.dirty || getControl('cpassword')?.touched)" class="text-red-600 text-xs">
            {{'PASSWORD_REQUIRED' | translate}}.
          </div>
          <div *ngIf="getControl('cpassword')?.errors?.['minlength']" class="text-red-600 text-xs">
            {{'PASSWORD_MIN_LENGTH_ERROR' | translate}}.
          </div>
          <div *ngIf="getControl('cpassword')?.errors?.['maxlength']" class="text-red-600 text-xs">
            {{'PASSWORD_MAX_LENGTH_ERROR' | translate}}.
          </div>
          <div *ngIf="getControl('cpassword')?.errors?.['confirmedValidator'] && (getControl('cpassword')?.dirty || getControl('cpassword')?.touched)" class="text-red-600 text-xs">
            {{'SAME_PASSWORD_ERROR' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end my-8">
      <button class="border-2 border-[#C1C1C1] text-[#383838] py-2 px-5 font-dmsans text-base font-semibold rounded-md mr-5" type="reset" (click)="onReset()">{{'CANCEL' | translate}} </button>
      <button class="bg-[#408A7E]  text-white py-2 px-5 font-dmsans text-base font-semibold rounded-md mr-5" type="submit" (click)="onSubmit()">{{'MODIFY' | translate}} </button>
    </div>
  </form>
</div>
