<div class="main">
  <app-side-bar class="app-side" [screen]="'/home'"></app-side-bar>
  <div class="head-home">
    <app-top-bar class="w-full flex-grow-1" title="Accueil"></app-top-bar>
    <div class="div-center">
      <div class="flex">
        <button
          class="font-dmsans text-[#737373] text-base font-semibold text-left"
          (click)="gotoHome()"
        >
          {{ "HOME" | translate }}
        </button>
        <button
          class="font-dmsans text-[#737373] text-base font-semibold text-left"
        >
          &gt; {{ "SUBMIT_PROJECT" | translate }}
        </button>
      </div>
      <div class="mt-4 flex flex-col justify-center items-center">
        <p class="font-dmsans text-[#408A7E] text-2xl font-semibold">
          {{ "SUBMIT_NEW_PROJECT" | translate }}
        </p>
        <div class="flex mt-5 items-center w-full">
          <div class="w-20"></div>
          <p
            class="w-14 text-center font-dmsans text-base font-semibold text-[#408A7E]"
            (click)="onSetStep(1)"
          >
            Description
          </p>
          <ng-container *ngFor="let item of titleSteps; let i = index">
            <div class="w-[16%]"></div>
            <p
              (click)="onSetStep(i + 2)"
              class="w-14 text-center font-dmsans text-base font-semibold"
              [ngClass]="step < i + 2 ? 'text-[#737373]' : 'text-[#408A7E]'"
            >
              {{ item | translate }}
            </p>
          </ng-container>
          <div class="w-20"></div>
        </div>
        <div class="flex mt-5 items-center w-full">
          <div class="border-t-[3px] border-[#408A7E] w-20 h-1"></div>
          <div
            class="rounded-full w-14 h-14 border-[3px] border-[#408A7E] flex items-center justify-center"
            (click)="onSetStep(1)"
          >
            <img src="../../../../assets/img/description-green.svg" alt="" />
          </div>
          <ng-container *ngFor="let item of stepsIcons; let i = index">
            <div
              class="border-t-[3px] w-[16%] h-1"
              [ngClass]="step < i + 2 ? 'border-[#AAAAAA]' : 'border-[#408A7E]'"
            ></div>
            <div
              (click)="onSetStep(i + 2)"
              class="rounded-full w-14 h-14 border-[3px] flex items-center justify-center"
              [ngClass]="step < i + 2 ? 'border-[#AAAAAA]' : 'border-[#408A7E]'"
            >
              <ng-container *ngIf="step < i + 2; else greenModality">
                <img src="{{ item[0] }}" alt="" />
              </ng-container>
              <ng-template #greenModality>
                <img src="{{ item[1] }}" alt="" />
              </ng-template>
            </div>
          </ng-container>
          <div
            class="border-t-[3px] w-20 h-1"
            [ngClass]="step < 5 ? 'border-[#AAAAAA]' : 'border-[#408A7E]'"
          ></div>
        </div>
        <form action="" [formGroup]="projectSubmissionForm" class="w-full mt-5">
          <div [ngSwitch]="step" class="w-full">
            <div
              *ngSwitchCase="'1'"
              class="w-full px-10 border-b-2 pb-10 border-[#797777]/78"
            >
              <div class="div-line-form">
                <div class="part-line-form">
                  <label for="" class="label w-[30%]"
                    >{{ "PROJECT_TITLED" | translate }}
                  </label>
                  <div class="w-[60%]">
                    <input
                      type="text"
                      class="input"
                      placeholder=""
                      formControlName="intitule"
                      (keydown.enter)="$event.preventDefault()"
                    />
                    <div
                      *ngIf="
                        getControl('intitule')?.invalid &&
                        (getControl('intitule')?.dirty ||
                          getControl('intitule')?.touched)
                      "
                      class="text-red-600 text-xs"
                    >
                      {{ "PROJECT_TITLED_REQUIRED" | translate }}.
                    </div>
                  </div>
                </div>
                <div class="part-line-form">
                  <label for="" class="label mr-10"
                    >{{ "SERVICE" | translate }}
                  </label>
                  <div class="w-full">
                    <input
                      type="text"
                      class="input"
                      placeholder=""
                      formControlName="service"
                      (keydown.enter)="$event.preventDefault()"
                    />
                    <div
                      *ngIf="
                        getControl('service')?.invalid &&
                        (getControl('service')?.dirty ||
                          getControl('service')?.touched)
                      "
                      class="text-red-600 text-xs"
                    >
                      {{ "SERVICE_REQUIRED" | translate }}.
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-line-form">
                <label for="" class="label w-[18%]">Description</label>
                <div class="w-[82%]">
                  <textarea
                    type="text"
                    class="textarea"
                    placeholder=""
                    formControlName="description"
                  ></textarea>
                  <div
                    *ngIf="
                      getControl('description')?.invalid &&
                      (getControl('description')?.dirty ||
                        getControl('description')?.touched)
                    "
                    class="text-red-600 text-xs"
                  >
                    {{ "DESCRIPTION_REQUIRED" | translate }}.
                  </div>
                </div>
              </div>

              <div class="div-line-form-bis w-full h-28 mt-5">
                <div class="flex flex-col w-[45%] h-full justify-between">
                  <!-- <div class="part-line-form-bis">
                    <label for="" class="label w-[30%]"
                      >{{ "JOB" | translate }}
                    </label>
                    <div class="w-[60%]">
                      <select
                        class="input"
                        #domain
                        (change)="onSelectDomain(domain.value)"
                      >
                        <option value="" disabled [selected]="true">
                          {{ "CHOOSE_JOB" | translate }}...
                        </option>
                        <option
                          *ngFor="let item of domains"
                          value="{{ item.name }}"
                          class="{{
                            domainChoosen.indexOf(item.name) !== -1
                              ? 'text-[#AAAAAA]'
                              : ''
                          }}"
                        >
                          {{ item.translatedName! | translate }}
                        </option>
                      </select>
                      <div
                        *ngIf="domainChoosen.length === 0"
                        class="text-red-600 text-xs"
                      >
                        {{ "JOB_REQUIRED" | translate }}.
                      </div>
                    </div>
                  </div>-->
                  <div class="part-line-form-bis">
                    <label for="" class="label w-[30%]"
                      >{{ "CONFIDENTIALITY" | translate }}
                    </label>
                    <div class="w-[60%]">
                      <div>
                        <label class="label mr-20">
                          <input
                            (keydown.enter)="$event.preventDefault()"
                            type="checkbox"
                            formControlName="confidentialite1"
                            class="peer-checked:text-[#408A7E] peer-checked:bg-[#408A7E] peer-checked:border-[#408A7E] peer-checked:border-2"
                            (change)="handleChange('confidentialite1')"
                          />
                          {{ "YES" | translate }}
                        </label>
                        <input
                          (keydown.enter)="$event.preventDefault()"
                          type="checkbox"
                          formControlName="confidentialite2"
                          class="checkbox"
                          (change)="handleChange('confidentialite2')"
                        />
                        <label class="label">
                          {{ "NO" | translate }}
                        </label>
                      </div>
                      <div
                        *ngIf="
                          projectSubmissionForm.value.confidentialite1 ==
                            false &&
                          projectSubmissionForm.value.confidentialite2 == false
                        "
                        class="text-red-600 text-xs"
                      >
                        {{ "CONFIDENTIALITY_REQUIRED" | translate }}.
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="part-line-form">
                  <p class="label">{{ "CHOOSEN_PROFESSIONS" | translate }}</p>
                  <div
                    class="flex justify-between items-center min-h-20 w-full"
                  >
                    <div
                      class="overflow-y-scroll border-[2px] border-[#737373]/20 w-full h-20 rounded-lg flex px-2 flex-wrap"
                    >
                      <div
                        *ngFor="let item of domainChoosen"
                        class="rounded-lg p-3 text-[#408A7E] text-xs bg-[#DBE9E6] mr-3 h-6 flex items-center justify-between my-2"
                      >
                        {{ translateDomain(item) | translate }}
                        <i
                          class="ml-2 fas fa-xmark"
                          (click)="removeDomain(item)"
                        ></i>
                      </div>
                    </div>
                  </div>

                </div>-->
              </div>
            </div>
            <div
              *ngSwitchCase="'2'"
              class="w-full px-10 pb-10 border-[#797777]/78"
            >
              <!-- VOLUME GLOBAL & BUDGET -->
              <div class="p-5 rounded-lg border border-[#D6D6D6] mt-5">
                <h3 class="text-[#408A7E] text-lg font-semibold mb-3">
                  {{ "BUDGET_VOLUME" | translate }}
                </h3>
                <div class="div-line-form">
                  <div class="part-line-form">
                    <label class="label w-[30%]">{{
                      "OVERALL_VOLUME" | translate
                    }}</label>
                    <div class="w-[60%]">
                      <input
                        type="number"
                        class="input"
                        formControlName="volumeGlobal"
                        min="0"
                        (keypress)="onKeyPress($event)"
                      />
                      <div
                        *ngIf="
                          getControl('volumeGlobal')?.invalid &&
                          (getControl('volumeGlobal')?.dirty ||
                            getControl('volumeGlobal')?.touched)
                        "
                        class="text-red-600 text-xs"
                      >
                        {{ "OVERALL_VOLUME_REQUIRED" | translate }}.
                      </div>
                    </div>
                  </div>

                  <div class="part-line-form mt-5">
                    <label class="label w-[30%]">Budget (€)</label>
                    <div class="w-[60%]">
                      <input
                        type="number"
                        class="input"
                        formControlName="budget"
                        min="0"
                        (keypress)="onKeyPress($event)"
                      />
                      <div
                        *ngIf="
                          getControl('budget')?.invalid &&
                          (getControl('budget')?.dirty ||
                            getControl('budget')?.touched)
                        "
                        class="text-red-600 text-xs"
                      >
                        {{ "BUDGET_REQUIRED" | translate }}.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ACTIVITÉS -->
              <div class="p-5 rounded-lg border border-[#D6D6D6] mt-10">
                <h3 class="text-[#408A7E] text-lg font-semibold mb-3">
                  {{ "ACTIVITIES" | translate }}
                </h3>
                <div class="div-line-form">
                  <div class="part-line-form items-center">
                    <label class="label w-[30%]"></label>
                    <div class="w-[60%]">
                      <!-- Nouveau input + liste filtrée + tags -->
                      <input
                        type="text"
                        class="input mb-2"
                        placeholder="{{ 'SEARCH_ACTIVITY' | translate }}"
                        [value]="activitySearchTerm"
                        (input)="onActivityInput($event)"
                      />

                      <!-- Liste suggestions filtrées -->
                      <div
                        *ngIf="
                          filteredActivitiesList.length &&
                          activitySearchTerm.trim()
                        "
                        class="border rounded p-2 shadow-md max-h-48 overflow-y-auto"
                      >
                        <div
                          *ngFor="let activity of filteredActivitiesList"
                          class="cursor-pointer hover:bg-gray-100 p-2 rounded text-sm"
                          (click)="addActivity(activity)"
                        >
                          {{ activity.name }}
                        </div>
                      </div>

                      <!-- Tags des activités sélectionnées -->
                      <div class="mt-2 flex flex-wrap gap-2">
                        <span
                          *ngFor="let act of selectedActivities"
                          class="bg-[#DBE9E6] text-[#408A7E] text-sm px-3 py-1 rounded-full flex items-center gap-2"
                        >
                          {{ getActivityName(act) }}
                          <button type="button" (click)="removeActivity(act)">
                            ×
                          </button>
                        </span>
                      </div>

                      <!-- Erreur -->

                      <div
                        *ngIf="activitiesInvalid"
                        class="text-red-600 text-xs mt-1"
                      >
                        {{ "ACTIVITIES_REQUIRED" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- TYPE D’APPEL D’OFFRE -->
              <div class="p-5 rounded-lg border border-[#D6D6D6] mt-10">
                <h3 class="text-[#408A7E] text-lg font-semibold mb-3">
                  {{ "TENDER_TYPE" | translate }}
                </h3>
                <div class="div-line-form">
                  <div class="part-line-form items-center">
                    <label class="label w-[30%]"></label>
                    <div class="w-[60%]">
                      <div class="flex flex-row gap-2">
                        <input
                          type="radio"
                          name="tender"
                          value="GLOBAL"
                          [(ngModel)]="selectedTypeAppelOffre"
                          class="accent-[#408A7E]"
                        />
                        {{ "GLOBAL_TENDER" | translate }}

                        <input
                          type="radio"
                          name="tender"
                          value="RESTRICTED"
                          [(ngModel)]="selectedTypeAppelOffre"
                          class="accent-[#408A7E]"
                        />
                        {{ "RESTRICTED_CONSULTATION" | translate }}

                        <input
                          type="radio"
                          name="tender"
                          value="INTEREST_MANIFESTATION"
                          [(ngModel)]="selectedTypeAppelOffre"
                          class="accent-[#408A7E]"
                        />
                        {{ "CALL_FOR_EXPRESSION" | translate }}
                      </div>
                      <div
                        *ngIf="typeAppelOffreInvalid"
                        class="text-red-600 text-xs mt-1"
                      >
                        {{ "TENDER_TYPE_REQUIRED" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DEADLINES -->
              <div class="p-5 rounded-lg border border-[#D6D6D6] mt-10">
                <h3 class="text-[#408A7E] text-lg font-semibold mb-3">
                  {{ "DEADLINES" | translate }}
                </h3>
                <div class="div-line-form">
                  <div class="part-line-form">
                    <label class="label w-[30%]">{{
                      "DEADLINE_RATHER" | translate
                    }}</label>
                    <div class="w-[60%]">
                      <input
                        type="date"
                        class="input"
                        formControlName="applicationClosingDate"
                        [min]="minDate.toISOString().split('T')[0]"
                        (keydown.enter)="$event.preventDefault()"
                      />
                      <div
                        *ngIf="
                          getControl('applicationClosingDate')?.invalid &&
                          (getControl('applicationClosingDate')?.dirty ||
                            getControl('applicationClosingDate')?.touched)
                        "
                        class="text-red-600 text-xs"
                      >
                        {{ "DEADLINE_RATHER_REQUIRED" | translate }}.
                      </div>
                    </div>
                  </div>

                  <div class="part-line-form mt-5">
                    <label class="label w-[30%]">{{
                      "DEADLINE" | translate
                    }}</label>
                    <div class="w-[60%]">
                      <input
                        type="date"
                        class="input"
                        formControlName="processingEndDate"
                        [min]="minDateFinString"
                        (keydown.enter)="$event.preventDefault()"
                      />
                      <div
                        *ngIf="
                          getControl('processingEndDate')?.invalid &&
                          (getControl('processingEndDate')?.dirty ||
                            getControl('processingEndDate')?.touched)
                        "
                        class="text-red-600 text-xs"
                      >
                        {{ "DEADLINE_REQUIRED" | translate }}.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- TYPE DE BESOIN -->
              <div class="p-5 rounded-lg border border-[#D6D6D6] mt-10">
                <h3 class="text-[#408A7E] text-lg font-semibold mb-3">
                  {{ "NEED_TYPE" | translate }}
                </h3>
                <div class="div-line-form">
                  <div class="part-line-form items-center">
                    <label class="label w-[30%]"></label>
                    <div class="w-[60%]">
                      <div class="flex gap-10">
                        <label class="flex items-center gap-2 cursor-pointer">
                          <input
                            type="radio"
                            formControlName="typeDeBesoin"
                            value="CONTRACT"
                            class="accent-[#408A7E]"
                          />
                          {{ "CONTRACTUAL" | translate }}
                        </label>
                        <label class="flex items-center gap-2 cursor-pointer">
                          <input
                            type="radio"
                            formControlName="typeDeBesoin"
                            value="PUNCTUAL"
                            class="accent-[#408A7E]"
                          />
                          {{ "PUNCTUAL" | translate }}
                        </label>
                      </div>
                      <div
                        *ngIf="
                          getControl('typeDeBesoin')?.invalid &&
                          (getControl('typeDeBesoin')?.dirty ||
                            getControl('typeDeBesoin')?.touched)
                        "
                        class="text-red-600 text-xs mt-1"
                      >
                        {{ "NEED_TYPE_REQUIRED" | translate }}.
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="displayContractDuration"
                    class="part-line-form mt-5"
                  >
                    <label class="label w-[30%]">
                      {{ "DURATION" | translate }} ({{ "YEARS" | translate }})
                    </label>
                    <div class="w-[60%]">
                      <input
                        type="number"
                        class="input"
                        formControlName="duree"
                        min="0"
                        (keypress)="onKeyPress($event)"
                      />
                      <div
                        *ngIf="
                          getControl('duree')?.invalid &&
                          (getControl('duree')?.dirty ||
                            getControl('duree')?.touched)
                        "
                        class="text-red-600 text-xs"
                      >
                        {{ "PROJECT_DURATION_REQUIRED" | translate }}.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              *ngSwitchCase="'3'"
              class="w-full mt-5 px-10 border-b-2 pb-5 border-[#797777]/78"
            >
              <div class="div-line-form-bis">
                <label for="" class="label w-[30%]">{{
                  "JOIN_FILES" | translate
                }}</label>
                <div class="flex w-[60%] bg-white">
                  <div
                    class="px-3 border border-[#408A7E] w-full rounded-lg flex flex-col items-center justify-center"
                  >
                    <img
                      src="../../../../assets/img/lets-icons_upload.svg"
                      alt=""
                      class="mb-2"
                    />
                    <div class="flex">
                      <input
                        type="file"
                        multiple
                        (change)="onFileSelected($event, 1)"
                        id="fileInput"
                        class="hidden"
                      />
                      <label
                        for="fileInput"
                        class="text-[#408A7E] font-dmsans text-sm"
                        >{{ "CLICK_TO_CHOOSE" | translate }} &nbsp;</label
                      >
                      <p class="text-[#344054] font-dmsans text-sm">
                        {{ "DRAG_DROP" | translate }}
                      </p>
                    </div>
                    <p class="text-sm font-dmsans font-thin text-black mb-2">
                      PDF,JPEG, PNG, XLSX ou DOCX
                    </p>
                    <div class="w-full overflow-x-scroll">
                      <p
                        *ngIf="filesChoosen.length !== 0"
                        class="text-sm font-dmsans font-thin text-black mb-2"
                      >
                        {{ filesChoosen.toString() }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              *ngSwitchDefault
              class="w-full px-40 border-b-2 pb-5 border-[#797777]/78 flex flex-col items-center h-full"
            >
              <img
                src="../../../../assets/img/success.svg"
                class="mt-20"
                alt=""
              />
              <p class="text-[#408A7E] font-dmsans text-xl font-semibold my-10">
                {{ "PROJECT_SUBMITTED" | translate }} !
              </p>
            </div>
          </div>

          <div class="flex justify-end px-40 mt-5">
            <button
              *ngIf="step > 1"
              class="rounded-lg text-base text-white font-dmsans px-6 py-1 bg-[#737373] shadow-md mr-20"
              (click)="backStep()"
            >
              {{ step <= 3 ? ("PREVIOUS" | translate) : ("BACK" | translate) }}
            </button>
            <button
              *ngIf="step < 4"
              class="rounded-lg text-base text-white font-dmsans px-6 py-1 bg-[#408A7E] shadow-md"
              (click)="nextStep()"
            >
              {{ step == 3 ? ("SUBMIT" | translate) : ("NEXT" | translate) }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
