<div class="main">
  <app-side-bar class="app-side"></app-side-bar>
  <div class="head-home" >
    <app-top-bar class="w-full flex-grow-1 " title="Opportunités"></app-top-bar>
    <div class="div-center">
      <div class="projet-container">
        <div class="header">
          <p>Nouveaux projets (08)</p>
          <div class="search-container">
            <input type="text" class="search-input" placeholder="Rechercher ...">
            <i class="fas fa-search search-icon"></i>
          </div>
        </div>
        <div class="main-projet">
          <div class="projet" *ngFor="let item of projets">
            <div class="projet-left">
              <div class="projet-left-head">
                <div class="flex w-1/2">
                  <img src="../../../assets/img/{{item[0][0]}}" alt="" class="mr-2">
                  <div class="w-">
                    <p class="font-dmsans text-black font-bold text-lg">{{item[0][1]}}</p>
                    <p class="font-dmsans text-[#121212]/60  text-xs">{{item[0][2]}}</p>
                  </div>
                </div>
                <div>
                  <p class="font-dmsans text-black font-bold text-base">{{item[0][3]}}</p>
                  <div class="font-dmsans text-[#121212]/60  text-xs">{{item[0][4]}}</div>
                </div>
              </div>
              <div class="projet-left-main">
                <p class="font-dmsans text-black font-bold text-lg">{{item[0][5]}}</p>
                <p class="font-dmsans text-[#121212]/60  text-base">{{item[0][6]}}</p>
              </div>
              <div class="w-full flex justify-between items-center pt-2">
                <div class=" w-full rounded-lg flex px-2 flex-wrap">
                  <div *ngFor="let itemi of item[1]" class="rounded-lg p-3 text-[#408A7E] text-xs bg-[#DBE9E6] mr-3 h-6 flex items-center justify-between my-2"> {{itemi}} <i class=" ml-2 fas fa-xmark"></i></div>
                </div>
              </div>
            </div>
            <!-- <div class="h-full border-l-[1px] border-dashed border-[#408A7E] "></div> -->
            <img src="../../../assets/img/Line 43.svg" alt="">
            <div class="projet-right">
              <div>
                <div class="flex justify-between pb-2">
                  <p class="font-dmsans text-black font-bold text-base">Marché</p>
                  <p class="font-dmsans text-[#121212]  text-base">{{item[0][7]}}</p>
                </div>
                <div class="flex justify-between py-2">
                  <p class="font-dmsans text-black font-bold text-base">Volume global</p>
                  <p class="font-dmsans text-[#121212]  text-base">{{item[0][8]}}</p>
                </div>
                <div class="flex justify-between py-2">
                  <p class="font-dmsans text-black font-bold text-base">Type du besoin</p>
                  <p class="font-dmsans text-[#121212]  text-base">{{item[0][9]}}</p>
                </div>
                <div class="flex justify-between py-2">
                  <p class="font-dmsans text-black font-bold text-base">Date de début</p>
                  <p class="font-dmsans text-[#121212]  text-base">{{item[0][10]}}</p>
                </div>
                <div class="flex justify-between py-2">
                  <p class="font-dmsans text-black font-bold text-base">Durée</p>
                  <p class="font-dmsans text-[#121212]  text-base">{{item[0][11]}}</p>
                </div>
              </div>
              <button class="bg-[#408A7E] w-full text-white rounded-lg py-2 shadow-md font-dmsans text-base">
                Se positionner
              </button>
            </div>
          </div>
          <div class="change-page">
            <button class="text-[#B0B0B0] mr-2">&lt;</button>
            <button class="bg-[#408A7E] rounded-full w-6">1</button>
            <button>2</button>
            <button>3</button>
            ...
            <button class="text-[#408A7E] ml-2">&gt;</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
