<div class="flex flex-col justify-between border-r border-[#737373]/43 h-full ">
  <div>
    <div class="flex justify-between mb-5 py-10 pl-10 pr-5 ">
      <img src="../../../assets/img/logo-inhub.svg" alt="" class="">
      <img src="../../../assets/img/hamburger.svg" alt="" (click)="humburger()" class="self-start ">
    </div>
    <div>
      <div class="px-10">
        <div *ngFor="let item of options" (click)="navigation(item[2])" class="flex font-dmsans font-bold text-[#737373] text-lg">
          <img src="{{item[0]}}" alt="" class="mr-2 mb-8">
          {{item[1]}}
        </div>
      </div>
    </div>
  </div>
  <div class=" flex flex-col py-10">
    <div class="px-10">
      <div  (click)="navigation('/support')" class="flex font-dmsans font-bold text-[#737373] text-lg">
        <img src="../../../assets/img/support.svg" alt="" class="mr-2 mb-8">
        Support
      </div>
      <div  (click)="navigation('/setting')" class="flex font-dmsans font-bold text-[#737373] text-lg">
        <img src="../../../assets/img/setting.svg" alt="" class="mr-2 mb-8">
        Parametres
      </div>
    </div>
    <div class="flex border-t-2 border-[#E5E5E5] pt-5 mx-5">
      <img src="../../../assets/img/pp.svg" alt="" class="mr-5">
      <div>
        <p class="font-poppins text-black text-base">Mame Diarra Bousso </p>
        <p class="font-dmsans text-[#6C6C6C] text-sm">diarra.bousso@gmail.com</p>
      </div>
    </div>
  </div>
</div>
