<div class="flex flex-col justify-between border-r border-[#737373]/43 h-full ">
  <div>
    <div class="flex justify-between mb-5 px-2 py-3 md:py-5 md:pl-5 md:pr-5">
      <img src="../../../assets/img/logo-inhub.svg" alt="" class="w-16 md:w-20 mr-2" >
      <img src="../../../assets/img/hamburger.svg" alt="" (click)="onHamburger()" class="self-start w-6" *ngIf="screenSize !== 'sm'">
    </div>
    <div>
      <div class="px-2 md:px-5">
        <div *ngFor="let item of optionsTop" (click)="navigation(item[2])" class="div-line-a">
          <img src="{{item[0]}}" alt="" class="img-line-a">
          <p *ngIf="screenSize !== 'sm' && viewText">{{item[1]}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class=" flex flex-col ">
    <div>
      <div class="px-2 md:px-5">
        <div *ngFor="let item of optionsBottom" (click)="navigation(item[2])" class="div-line-a">
          <img src="{{item[0]}}" alt="" class="img-line-a">
          <p *ngIf="screenSize !== 'sm' && viewText">{{item[1]}}</p>
        </div>
      </div>
    </div>
    <div class="flex border-t-2 border-[#E5E5E5] py-5 mx-2 md:mx-5">
      <img src="../../../assets/img/pp.svg" alt="" class="mr-5 w-10">
      <div *ngIf="screenSize !== 'sm' && viewText">
        <p class="font-poppins text-black text-sm">Mame Diarra Bousso </p>
        <p class="font-dmsans text-[#6C6C6C] text-xs">diarra.bousso@gmail.com</p>
      </div>
    </div>
  </div>
</div>
