<div class="main">
  <app-side-bar class="app-side"></app-side-bar>
  <div class="head-home">
    <app-top-bar class="w-full flex-grow-1" title="Accueil"></app-top-bar>
    <div class="div-center">
      <div class="upper-home">
        <div class="upper-home-left">
            <div class="upper-home-left-redbox font-dmsans">
              <p class="">Bienvenue Mame Diarra Gueye</p>
              <p class=" w-full text-xs">Prêt à donner vie à votre prochaine idée? Soumettez un nouveau projet dès maintenant et lancez-vous dans une nouvelle aventure de collaboration et d'innovation</p>
              <button (click)="navigation('/project-submission')">Soumettre un nouveau projet</button>
            </div>
            <div class="upper-home-left-bottom">
              <p>Liste des entreprises</p>
              <p>Prêt à donner vie à votre prochaine idée? Soumettez un nouveau projet dès maintenant et lancez-vous dans une nouvelle aventure de collaboration et d'innovation</p>
            </div>
        </div>
        <div class="upper-home-right">
          <div class="evenment">
            <!-- <app-vertical-caroussel></app-vertical-caroussel> -->
            <p class="text-[#3B8682] font-dmsans text-xl font-semibold text-center">Inhub c’est</p>
            <div class="text-black font-dmsans text-sm text-center">
              Nous aidons les leaders mondiaux de l'ingénierie à innover et à garder une longueur d'avance en fournissant des interconnexions personnalisées pour des systèmes électroniques complexes
              <!-- <div *ngFor="let item of evenments" (click)="navigation(item[2])" class="div-line-evenment">
                <img src="{{item[0]}}" alt="" class="img-line-evenment">
                <div class="ml-2 flex flex-col justify-between w-full">
                  <div class="flex justify-between w-full">
                    <p class="font-dmsans text-xs">{{item[1]}}</p>
                    <img src="../../../assets/img/trois-points.svg" alt="" class="w-3">
                  </div>
                  <div class="flex justify-between  w-full ">
                    <ul class="flex text-xs list-disc list-inside text-[#7D8DA6]">
                      <li class="mr-5 pl-1 ">{{item[3]}}</li>
                      <li class=" pl-0">{{item[4]}}</li>
                    </ul>
                    <img src="../../../assets/img/video.svg" alt="" >
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="evenment1">
            <p class="text-[#408A7E] font-dmsans text-sm mb-3 font-semibold">Carnet d’adresse</p>
            <div >
              <div class="search-container">
                <i class="fas fa-search search-icon"></i>
                <input type="text" class="search-input" placeholder="Rechercher un partenaire...">
              </div>
              <!-- <div *ngFor="let item of partners" (click)="navigation(item[2])" class="div-line-partner">
                <img src="{{item[0]}}" alt="" class="w-10 mr-2">
                <div class="div-text">
                  <p>{{item[1]}}</p>
                  <p class="desc-partner">{{item[3]}}</p>
                  <p class="desc-partner">{{item[4]}}</p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div>
        <app-horizontal-caroussel></app-horizontal-caroussel>
        <!-- <gallery [items]="images" [thumb]="false"  class="w-full mt-10 h-80 bg-transparent"  [autoPlay]="true" [playerInterval]="5000" [slidingDuration]="1000" [slidingDisabled]="false"></gallery> -->
      </div>


</div>
</div>
</div>
