<div class="flex flex-col md:flex-row justify-between border-b-2 border-[#E5E5E5] w-full pb-3 items-center">
  <div class="div-title">
    <p >{{'PERSONNAL_INFOS' | translate}} </p>
    <p >{{'UPDATE_INFOS_DESC' | translate}} </p>
  </div>
  <div class="div-button">
    <button class="border-2 border-[#C1C1C1] text-[#344054]" type="reset" (click)="resetForm()">{{'CANCEL' | translate}} </button>
    <button class="bg-[#408A7E] text-white" type="submit" (click)="submit()">{{'SAVE' | translate}} </button>
  </div>
</div>
<div class="my-5">
  <form [formGroup]="profilForm">
    <div class=" flex flex-col items-center md:flex-row my-5 pb-5 border-b-2 border-[#E5E5E5]">
      <div class="md:mr-20">
        <div>
          <img [src]="user.imageBase64Content || '../../../assets/icons/icon-user.png'" alt="" class="w-12 h-12 rounded-full bg-[#AAAAAA] self-start">
          <p class="text-[#000] text-base font-medium font-dmsans">{{'YOUR_PICTURE' | translate}} </p>
          <p class="text-[#344054] text-sm font-dmsans">{{'YOUR_PICTURE_DESC' | translate}} </p>
        </div>
      </div>
      <div class="w-full mt-5 md:mt-0 md:w-[60%]">
        <div class="flex w-full">
          <input type="file" formControlName="image" (change)="onFileSelected($event)" id="fileInput" class="hidden"/>
          <label for="fileInput" class=" bg-[#408A7E] text-white shadow-md py-2 px-5 h-10 flex items-center font-dmsans text-base rounded-md mr-7 cursor-pointer">
            <i class="fas fa-edit" > </i>
            &nbsp;{{'MODIFY_PICTURE' | translate}}
          </label>
          <button (click)="onDeletePicture()" class=" bg-[#EE1B22] shadow-md text-white py-2 px-5 h-10 flex items-center font-dmsans text-base rounded-md">
            <i class="fa-regular fa-trash-can"></i>
            &nbsp;{{'DELETE_PICTURE' | translate}}
          </button>
        </div>
        <p class="text-sm font-dmsans font-thin text-black mb-2">{{pictureToShow}} </p>
      </div>
    </div>
    <div class="div-line-form">
      <div class="w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">{{'FIRSTNAME' | translate}} </label>
        <div class="w-[60%]">
          <input type="text"  formControlName="firstName" class="input-line-form ">
          <div *ngIf="getControl('firstName')?.invalid && (getControl('firstName')?.dirty || getControl('firstName')?.touched)" class="text-red-600 text-xs">
            {{'FIRSTNAME_REQUIRED' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class="div-line-form">
      <div class="w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">{{'LASTNAME' | translate}} </label>
        <div class="w-[60%]">
          <input type="text"   formControlName="lastName" class="input-line-form">
          <div *ngIf="getControl('lastName')?.invalid && (getControl('lastName')?.dirty || getControl('lastName')?.touched)" class="text-red-600 text-xs">
            {{'LASTNAME_REQUIRED' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class="div-line-form">
      <div class=" w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">Email</label>
        <div class="w-[60%]">
          <input type="email" readonly  formControlName="email"  class="input-line-form-readonly">
        </div>
      </div>
    </div>
    <div class="div-line-form">
      <div class=" w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">{{'TELEPHONE' |translate}} </label>
        <div class="w-[60%]">
          <input type="text"  formControlName="phoneNumber" class="input-line-form">
          <div *ngIf="getControl('phoneNumber')?.invalid && (getControl('phoneNumber')?.dirty || getControl('phoneNumber')?.touched)" class="text-red-600 text-xs">
            {{'TELEPHONE_REQUIRED' | translate}}.
          </div>
        </div>
      </div>
    </div>

    <div class="div-line-form ">
      <div class="w-1/2 flex justify-between items-center">
        <label for="" class="label-line-form">{{'ROLE' | translate}} </label>
        <div class="w-[60%]">
          <select class="input-line-form" formControlName="role" >
            <option *ngFor="let item of listEmployeePost" value="{{item.title}}">{{item.title}}</option>
          </select>
          <div *ngIf="getControl('role')?.invalid && (getControl('role')?.dirty || getControl('role')?.touched)" class="text-red-600 text-xs">
            {{'ROLE_REQUIRED' | translate}}.
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5 ">
      <div class="div-line-form ">
        <div class=" w-1/2 flex justify-between items-center">
          <label for="" class="label-line-form">{{'ENTERPRISE' | translate}} </label>
          <div class="w-[60%]">
            <input type="text" readonly  formControlName="enterpriseName" placeholder="Inhub" class="input-line-form-readonly">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

