<div class="main">
  <app-side-bar class="app-side" [screen]="'/support'"></app-side-bar>
  <div class="head-home" >
    <app-top-bar class="w-full flex-grow-1 " title="Support"></app-top-bar>
    <div class="div-center">
      <div class="rounded-2xl bg-white h-full w-full p-3 flex flex-col items-center">
        <p class="text-black text-2xl text-center  font-semibold font-dmsans my-10">Besoin d’aide ?</p>
        <form class="w-full px-40 border-b-2 pb-10 border-[#797777]/78 flex flex-col items-center" [formGroup]="supportForm">
          <div class="div-line-form mb-5">
              <label for="" class="label w-[30%]">Quel est le but de votre demande</label>
              <div class=" w-[60%] ">
                <input type="text" class="input" placeholder="Entrer intitulé" formControlName="intitule" (keydown.enter)="$event.preventDefault()">
                <div *ngIf="getControl('intitule')?.invalid && (getControl('intitule')?.dirty || getControl('intitule')?.touched)" class="text-red-600 text-xs">
                  L'Intitulé du mail est requis.
                </div>
              </div>
          </div>
          <div class="div-line-form mb-10">
            <label for="" class="label w-[30%]">Pouvez-vous nous en dire plus ?</label>
            <div class=" w-[60%] ">
              <textarea type="text" class="textarea" placeholder="Ecrivez la description ici..." formControlName="description"></textarea>
              <div *ngIf="getControl('description')?.invalid && (getControl('description')?.dirty || getControl('description')?.touched)" class="text-red-600 text-xs">
                La description du mail est requise.
              </div>
            </div>
          </div>
          <button (click)="sendEmail()" class="rounded-lg text-base text-white font-dmsans px-6 py-1 bg-[#408A7E] shadow-md" [disabled]="supportForm.invalid">Envoyer</button>

        </form>
      </div>
    </div>
  </div>

</div>
