.main {
  @apply flex w-full h-full
}

.app-side {
  @apply  h-full
}

.head-home{
  @apply flex flex-col h-full flex-grow w-[90%]
}

.div-center {
  @apply w-full h-full px-5 py-5 flex flex-col bg-[#1E1E1E]/5
}


.dropbtn {
  @apply text-white p-2 text-base border-none
}

.dropdown {
  @apply relative inline-block
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.shadow-custom {
  box-shadow: 2px 7px 7px 4px #E2ECF9;
}

.mat-calendar.custom-calendar .mat-calendar-body-cell {
  background-color: #408A7E; 
  color: #fff;
}

.mat-calendar.custom-calendar .mat-calendar-table-header th {
  background-color: #408A7E; 
  color: #fff; 
}

::ng-deep .mat-calendar-table-header th:nth-child(6) {
  @apply text-[#FF3B30]
}

::ng-deep .mat-calendar-table-header th:nth-child(7) {
  @apply text-[#FF3B30] 
}

::ng-deep .mat-calendar-body tr td:nth-child(6) span {
  @apply text-[#FF3B30] 
}

::ng-deep .mat-calendar-body tr td:nth-child(7) span {
  @apply text-[#FF3B30] 
}
::ng-deep .mat-calendar-body-selected {
  background-color: #408A7E !important;
}


::ng-deep .mat-calendar-body-selected {
  @apply  bg-[#408A7E]
}

::ng-deep .mat-calendar-body-today {
  @apply bg-[#EDEDED]
}