<div class="main">
  <app-side-bar class="app-side" [screen]="'/projects'"></app-side-bar>
  <div class="head-home" >
    <app-top-bar class="w-full flex-grow-1 " title="{{'MY PROJECTS' | translate}}"></app-top-bar>
    <div class="div-center">
      <div class="projet-container rounded-xl w-full h-90vh bg-white px-2 pb-7 pt-2">
        <div class="w-full flex p-5">
          <div class="dropdown mr-5">
            <div class=" px-2 border border-[#D9D9D9] rounded-xl">
              <button class="flex items-center text-[#D9D9D9] font-dmsans text-sm"><i class="fas fa-calendar-alt mr-2"></i>Date <i class="fas fa-chevron-down ml-2"></i></button>
            </div>
            <div class="dropdown-content mr-5">
              <a class="flex items-center text-sm text-black font-dmsans px-3 cursor-pointer" (click)="changeFilter('fr', '../../../assets/flags/fr_flag.svg')">Date 1 </a>
              <a class="flex items-center text-sm text-black font-dmsans p-3 pb-3 cursor-pointer" (click)="changeFilter('en', '../../../assets/flags/en_flag.svg')">Date 2  </a>
            </div>
          </div>
          <div class="dropdown mr-5">
            <div class=" px-2 border border-[#D9D9D9] rounded-xl">
              <button class="flex items-center text-[#D9D9D9] font-dmsans text-sm"><i class="fas fa-spinner fa-spin mr-2"></i>Status <i class="fas fa-chevron-down ml-2"></i></button>
            </div>
            <div class="dropdown-content mr-5">
              <a class="flex items-center text-sm text-black font-dmsans px-3 cursor-pointer" (click)="changeFilter('fr', '../../../assets/flags/fr_flag.svg')">Status 1 </a>
              <a class="flex items-center text-sm text-black font-dmsans p-3 pb-3 cursor-pointer" (click)="changeFilter('en', '../../../assets/flags/en_flag.svg')">Status 2  </a>
            </div>
          </div>
          <div class="dropdown mr-5">
            <div class=" px-2 border border-[#D9D9D9] rounded-xl">
              <button class="flex items-center text-[#D9D9D9] font-dmsans text-sm"><i class="fas fa-folder mr-2"></i>{{'ALL_PROJECTS' | translate}} <i class="fas fa-chevron-down ml-2"></i></button>
            </div>
            <div class="dropdown-content mr-5">
              <a class="flex items-center text-sm text-black font-dmsans px-3 cursor-pointer" (click)="changeFilter('fr', '../../../assets/flags/fr_flag.svg')">Date 1 </a>
              <a class="flex items-center text-sm text-black font-dmsans p-3 pb-3 cursor-pointer" (click)="changeFilter('en', '../../../assets/flags/en_flag.svg')">Date 2  </a>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="flex justify-between items-center mx-4 px-2 py-2 w-full shadow-2xl shadow-[#E2ECF9] bg-white rounded-2xl shadow-custom">
            <div class="flex items-center mr-2">
              <img class="mr-2 w-14" src="../../../assets/img/projet tous.svg" alt="">
              <div class="flex flex-col ">
                <p class="text-[#ACACAC] font-dmsans text-sm">{{'ALL_PROJECTS' | translate}} </p>
                <p class="font-dmsans font-extrabold text-black text-lg">23</p>
                <div class="flex items-center text-sm">
                  <div class="flex text-[#00AC4F] font-dmsans text-sm mr-1 items-center">
                    <i class="fas fa-arrow-up mr-1"></i>
                    37,8%
                  </div>
                  {{'THIS_WEEK' | translate}}
                </div>
              </div>
            </div>
            <img src="../../../assets/img/sep-vertical.svg" alt="" class="mr-2">
            <div class="flex items-center mr-2">
              <img class="mr-2 w-14" src="../../../assets/img/projet en cours.svg" alt="">
              <div class="flex flex-col ">
                <p class="text-[#ACACAC] font-dmsans text-sm">{{'PROJECT_LOADING' | translate}} </p>
                <p class="font-dmsans font-semibold text-black text-lg">07</p>
                <div class="flex items-center text-sm">
                  <div class="flex text-[#D0004B] font-dmsans text-sm mr-1 items-center">
                    <i class="fas fa-arrow-down mr-1"></i>
                    2%
                  </div>
                  {{'THIS_MONTH' | translate}}
                </div>
              </div>
            </div>
            <img src="../../../assets/img/sep-vertical.svg" alt="" class="mr-2">
            <div class="flex items-center mr-2">
              <img class="mr-2 w-14" src="../../../assets/img/projet terminer.svg" alt="">
              <div class="flex flex-col ">
                <p class="text-[#ACACAC] font-dmsans text-sm">{{'PROJECT_OVER' | translate}} </p>
                <p class="font-dmsans font-semibold text-black text-lg">12</p>
                <div class="flex items-center text-sm">
                  <div class="flex text-[#00AC4F] font-dmsans text-sm mr-1 items-center">
                    <i class="fas fa-arrow-up mr-1"></i>
                    11%
                  </div>
                  {{'THIS_WEEK' | translate}}
                </div>
              </div>
            </div>
            <img src="../../../assets/img/sep-vertical.svg" class="mr-2" alt="">
            <div class="flex items-center">
              <img class="mr-2 w-14" src="../../../assets/img/projet annuler.svg" alt="">
              <div class="flex flex-col ">
                <p class="text-[#ACACAC] font-dmsans text-sm">{{'PROJECT_ABORTED' | translate}} </p>
                <p class="font-dmsans font-semibold text-black text-lg">04</p>
                <div class="flex items-center text-sm">
                  <div class="flex text-[#00AC4F] font-dmsans text-sm mr-1 items-center">
                    <i class="fas fa-arrow-up mr-1"></i>
                    5%
                  </div>
                  {{'THIS_WEEK' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div *ngIf="listProject?.length === 0" class="mt-[10%] mb-[10%] flex items-center justify-center">
          <div class="text-center">
            <p class="text-3xl font-bold mb-4">{{'NO_PROJECT' | translate}} </p>
            <p class="text-lg text-gray-600">{{'NO_PROJECT_DESC' | translate}} </p>
          </div>
        </div> -->

        <div class="flex flex-wrap mt-8 mx-3 gap-7">
          <div 
            class="bg-white shadow-xl rounded-lg px-5 py-4 w-[48%] mb-5 transform transition-transform hover:scale-105 cursor-pointer" (click)="projectOptions(1)">
            <p class="text-base font-dmsans text-[#3B8682] mb-2 font-bold">Développement d'un Nouveau Connecteur Personnalisé</p>
            <p class="font-dmsans text-sm text-[#7D7D7D] mb-2">Concevoir et fabriquer un connecteur sur mesure répondant aux besoins spécifiques d'un système électronique complexe</p>
            <div class="flex justify-between mb-2 items-center">
              <div class="flex font-dmsans text-black font-bold items-center">
                <img src="../../../assets/img/nicomatic.svg" class="mr-2" alt="">
                Nicomatic
              </div>
              <p class="text-[#858585] font-dmsans text-base font-semibold">Volume 180</p>
              <div class="flex font-dmsans text-base">
                15 juil 2024
                <img src="../../../assets/img/tiret-rond.svg" class="ml-2" alt="">
              </div>
            </div>
            <div class="flex">
              <div class="text-[#06A6FF] bg-[#B8E5FF]/60 rounded-xl  px-5 py-1 text-center font-dmsans text-sm"> Automobile</div>
            </div>
          </div>
        </div>

        <app-paginator
          *ngIf="listProject?.length === 0"
          [totalItems]="totalItems"
          [itemPerPage]="itemPerPage"
          [currentPage]="currentPage"
          (onClick)="changePage($event)">
        </app-paginator>
      </div>
    </div>
  </div>

</div>
