<div class="background-inscription main h-full">
  <div class="flex w-full justify-between">
    <img src="../../../assets/img/New Logo inhub .png" alt="" class="self-start  w-16 md:w-20">
    <app-selectionner-langue class="self-end"></app-selectionner-langue>
  </div>
  <div class="flex justify-between w-full h-full">
    <div class="w-[48%] h-full flex flex-col justify-center ">
      <img src="../../../assets/img/bg-inscription.png" class="max-h-1/2" alt="">
    </div>
    <div class="w-[48%] flex flex-col justify-center  h-full items-center">
      <div class="h-full w-full flex items-center justify-center">
        <div class="form-inscription div-form">
          <p class="titre-inscription mb-7">{{'TITLE_CONNECTION' | translate}}.</p>
          <form class="form" [formGroup]="loginForm">
            <div class="div-input-inscription mb-3">
              <label for="" class="label-inscription">Email</label>
              <input type="text" class="input-inscription" formControlName="username">
              <div *ngIf="getControl('username')?.invalid && (getControl('username')?.dirty || getControl('username')?.touched)" class="text-red-600 text-xs">
                {{'EMAIL_REQUIRED' | translate}}.
              </div>
              <div *ngIf="getControl('username')?.errors?.['email']" class="text-red-600 text-xs">
                {{'EMAIL_NOT_VALID' | translate}}.
              </div>
            </div>
            <div class="div-input-inscription">
              <div class="div-label">
                <label for="" class="label-inscription">{{'PASSWORD' | translate}}</label>
                <p (click)="motDePasseOublie()" class="cursor-pointer">{{'FORGOT_PASSWORD' | translate}}?</p>
              </div>
              <div class="div-password">
                <input
                  class="input-inscription"
                  type="{{ isPasswordVisible ? 'text' : 'password' }}"
                  formControlName="password"
                />
                <span class="toggle-password" (click)="togglePasswordVisibility()">
                  <i class="{{ isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
                </span>
              </div>
              <div *ngIf="getControl('password')?.invalid && (getControl('password')?.dirty || getControl('password')?.touched)" class="text-red-600 text-xs">
                {{'PASSWORD_REQUIRED' | translate}}.
              </div>
              <div *ngIf="getControl('password')?.errors?.['minlength']" class="text-red-600 text-xs">
                {{'PASSWORD_MIN_LENGTH_ERROR' | translate}}.
              </div>
              <div *ngIf="getControl('password')?.errors?.['maxlength']" class="text-red-600 text-xs">
                {{'PASSWORD_MAX_LENGTH_ERROR' | translate}}.
              </div>
            </div>
            <button type="submit" class="submit-inscription mt-10" [disabled]="loginForm.invalid" (click)="login()">{{'LOG_IN' | translate}}</button>
          </form>
          <div class="footer-inscription mt-5">
            {{'NO_ACCOUNT' | translate}} ?
            <button (click)="inscription()">{{'SIGN_UP' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
