<div class="background-inscription main">
  <app-selectionner-langue class="self-end"></app-selectionner-langue>
  <img src="../../../assets/img/logo-inhub.svg" alt="" class="self-start">
  <div class="form-inscription div-form">
    <p class="titre-inscription mb-10">Connectez-vous à votre compte.</p>
    <form class="form">
      <div class="div-input-inscription">
        <label for="" class="label-inscription">Email</label>
        <input type="text" class="input-inscription" placeholder="diarra.bousso@gmail.com">
      </div>
      <div class="div-input-inscription">
        <div class="div-label">
          <label for="" class="label-inscription">Mot de passe</label>
          <p (click)="motDePasseOublie()">Oublié?</p>
        </div>
        <div class="div-password">
          <input
            class="input-inscription"
            type="{{ isPasswordVisible ? 'text' : 'password' }}"
            placeholder="Entrez votre mot de passe"
          />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i class="{{ isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
          </span>
        </div>
      </div>
      <button type="submit" class="submit-inscription">Se connecter</button>
    </form>
    <div class="footer-inscription mt-5">
      Vous n'avez pas de compte ?
      <button (click)="inscription()">Inscrivez-vous</button>
    </div>
  </div>
</div>
